{% extends 'base.html' %} {% block content %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/registration.css') }}"
/>
{% endblock %}

<div class="hero">
  <div class="hero-content">
    <h1>Welcome to the Registration Page</h1>
    <p>Join our community and start exploring new opportunities.</p>
  </div>
</div>

<div class="container mt-5 signup-container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Register</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label(class_='form-label') }} {{
          form.email(class_='form-control', placeholder="Email") }} {% if
          form.email.errors %} {% for error in form.email.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class_='form-label') }} {{
          form.password(class_='form-control', placeholder="Password") }} {% if
          form.password.errors %} {% for error in form.password.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.first_name.label(class_='form-label') }} {{
          form.first_name(class_='form-control', placeholder="First Name") }} {%
          if form.first_name.errors %} {% for error in form.first_name.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.last_name.label(class_='form-label') }} {{
          form.last_name(class_='form-control', placeholder="Last Name") }} {%
          if form.last_name.errors %} {% for error in form.last_name.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.dob.label(class_='form-label') }} {{
          form.dob(class_='form-control', placeholder="Date of Birth") }} {% if
          form.dob.errors %} {% for error in form.dob.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group text-center">
          {{ form.submit(class='btn btn-primary', value='Register') }}
        </div>
      </form>
      <div class="text-center" id="login-text">
        Already have an account?
        <a href="#login">Log in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
