{% extends 'base.html' %} {% block content %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/registration.css') }}"
/>
<style>
    .hero {
    position: relative; /* Ermöglicht die Positionierung des Pseudo-Elements */
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
    max-width: 800px;
  }

  .hero::before {
    content: ""; /* Notwendig, um das Pseudo-Element anzuzeigen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/banner/index_banner_3.webp");
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-size: cover;
    background-position: center; /* Zentriert das Bild */
    opacity: 0.5; /* Setzt die Opazität des Bildes */
    z-index: -1; /* Stellt sicher, dass das Bild hinter dem Text liegt */
    border-radius: 15px; /* Abgerundete Ecken */
  }

  .hero h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, #a1c4fd, #c2e9fb);
    background-clip: text;

    font-size: 48px; /* Größere Schriftgröße für die Überschrift */
    line-height: 1.1;
  }
</style>
{% endblock %}

<div class="hero">
  <div class="hero-content">
    <h1>Welcome to the Registration Page</h1>
    <p>Join our community and start exploring new opportunities.</p>
  </div>
</div>

<div class="container mt-5 signup-container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Register</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label(class_='form-label') }} {{
          form.email(class_='form-control', placeholder="Email") }} {% if
          form.email.errors %} {% for error in form.email.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class_='form-label') }} {{
          form.password(class_='form-control', placeholder="Password") }} {% if
          form.password.errors %} {% for error in form.password.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.first_name.label(class_='form-label') }} {{
          form.first_name(class_='form-control', placeholder="First Name") }} {%
          if form.first_name.errors %} {% for error in form.first_name.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.last_name.label(class_='form-label') }} {{
          form.last_name(class_='form-control', placeholder="Last Name") }} {%
          if form.last_name.errors %} {% for error in form.last_name.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group">
          {{ form.dob.label(class_='form-label') }} {{
          form.dob(class_='form-control', placeholder="Date of Birth") }} {% if
          form.dob.errors %} {% for error in form.dob.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %} {% endif %}
        </div>
        <div class="form-group text-center" id="register-button">
          {{ form.submit(class='btn btn-primary', value='Register') }}
        </div>
      </form>
      <div class="cbtn-container">
        <div class="cbtn btn-0">
          <a href="#registerastrainer">Want to be a trainer? Register here.</a>
        </div>
        <div class="cbtn btn-3">
          <a href="#login">Already have an account? Log in</a>
        </div>
        <div class="cbtn btn-2">
          <a href="#passwordreset">Forgot Password?</a>
        </div>
      </div>
    </div>
    </div>
  </div>
  {% endblock %}
</div>
