{% extends "base.html" %}

{% block content %}
    <div class="container">
      <section id="hero" class="hero">
        <div class="hero-content">
          <h1>About Us</h1>
          <p>Learn more about AnthraLearn and our mission.</p>
          <a href="#" class="btn btn-primary" id="gettoknowus">Get to Know Us</a>
        </div>
      </section>
    </div>

    <section id="features" class="features">
      <div class="feature-container">
        <div class="feature">
          <h2>Our Mission</h2>
          <p>Empowering learners through accessible and engaging education.</p>
        </div>
      </div>
      <div class="feature-container">
        <div class="feature">
          <h2>Our Team</h2>
          <p>Meet the passionate individuals behind AnthraLearn.</p>
        </div>
      </div>
      <div class="feature-container">
        <div class="feature">
          <h2>Our Values</h2>
          <p>Transparency, inclusivity, and lifelong learning.</p>
        </div>
      </div>
    </section>
{% endblock %}