<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}AnthraLearn{% endblock %}</title>
    {% block styles %}
    <link
      href="{{ url_for('static', filename='css/index_styles.css') }}"
      rel="stylesheet"
    />
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="user-profile">
          <a
            href="javascript:void(0);"
            class="user-icon"
            onclick="toggleDropdown()"
            >👤</a
          >
          <div class="dropdown-content">
            {% if user.is_user_authenticated %}
            <a href="#user_profile">Profile</a>
            <a href="#settings">Settings</a>
            <a href="#logout">Logout</a>
            {% else %}
            <a href="#login">Login</a>
            <a href="#signup">Register</a>
            <a href="#settings">Settings</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    {% block content %}
    <!-- This block will be overridden by child templates -->
    {% endblock %}

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Hendrik Siemens. All rights reserved.</p>
        <ul class="footer-links">
          <li><a href="#terms">Terms of Service</a></li>
          <li><a href="#privacy">Privacy Policy</a></li>
          <li><a href="#disclaimer">Legal Disclaimer</a></li>
          <li><a href="#sitemap">Sitemap</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
