<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="static/css/registration.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center">Register</h2>
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                required
              />
              <div id="passwordStrength" style="display: none"></div>
              <div id="passwordFeedback" style="color: red"></div>
            </div>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" required />
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" required />
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" id="dob" required />
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document
        .getElementById("password")
        .addEventListener("input", function (e) {
          var password = e.target.value;
          var criteria = [
            {
              test: (pwd) => pwd.length > 7,
              message: "Mindestens 8 Zeichen lang",
              weight: 2,
            },
            {
              test: (pwd) => /[a-z]/.test(pwd),
              message: "Mindestens ein Kleinbuchstabe",
              weight: 1,
            },
            {
              test: (pwd) => /[A-Z]/.test(pwd),
              message: "Mindestens ein Großbuchstabe",
              weight: 1,
            },
            {
              test: (pwd) => /[0-9]/.test(pwd),
              message: "Mindestens eine Ziffer",
              weight: 1,
            },
            {
              test: (pwd) => /[\W_]/.test(pwd),
              message: "Mindestens ein Sonderzeichen",
              weight: 1,
            },
            {
              test: (pwd) => !containsSequentialNumbers(pwd),
              message: "Keine aufeinanderfolgenden Zahlen erlaubt",
              weight: 3,
            },
          ];

          var strengthBar = document.getElementById("passwordStrength");
          var feedbackList = document.getElementById("passwordFeedback");
          feedbackList.innerHTML = ""; // Clear previous feedback
          var totalWeight = criteria.reduce(
            (acc, criterion) => acc + criterion.weight,
            0
          );
          var strength = 0;

          criteria.forEach((criterion) => {
            if (criterion.test(password)) {
              strength += criterion.weight;
            } else {
              var li = document.createElement("li");
              li.textContent = criterion.message;
              feedbackList.appendChild(li);
            }
          });

          var strengthPercentage = strength / totalWeight;
          var strengthText = getStrengthText(strengthPercentage);
          strengthBar.textContent = "Passwortstärke: " + strengthText;
          strengthBar.style.display = "block";
        });

      function containsSequentialNumbers(password) {
        for (let i = 0; i < password.length - 2; i++) {
          if (
            parseInt(password[i]) + 1 === parseInt(password[i + 1]) &&
            parseInt(password[i + 1]) + 1 === parseInt(password[i + 2])
          ) {
            return true;
          }
        }
        return false;
      }

      function getStrengthText(percentage) {
        if (percentage < 0.4) return "Sehr schwach";
        if (percentage < 0.6) return "Schwach";
        if (percentage < 0.8) return "Mittel";
        if (percentage < 1) return "Stark";
        return "Sehr stark";
      }
    </script>
  </body>
</html>
